

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: rgb(43, 78, 88);
    align-content: center;
}

canvas {
    border-radius: 50%;
    background-color: rgb(213, 231, 229);
    box-shadow: 6px 6px 16px rgba(32,32,32,0.4), -6px -6px 16px rgba(10,10,10,1);
}